extends ../../layout/default.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/table-tree.pug


block header
    link(rel="stylesheet" href=" ../../../admin/css/product.css")

block main
    .main-content
        include ../../partials/header.pug

        .card.mb-3
            .card-header Danh sách
            .card-body
                .row
                    .col-8
                    .col-4
                        a(
                            href=`${prefixAdmin}/accounts/create`
                            class="btn btn-outline-success"
                        ) + Thêm mới


        .card.mb-5(style="--bs-card-spacer-y: 3rem; --bs-card-spacer-x: 3rem;")
            .card-header(style=" --bs-card-cap-padding-y: 2rem; display: flex; align-items: center; justify-content: center;")
                span.card-title Danh Mục Sản Phẩm
            .card-body
                table(class="table table-hover table-sm align-middle custom-table table-responsive")
                    thead.table-light.custom-thead
                        tr
                            th STT
                            th Họ tên
                            th Email
                            th Quyền
                            th Trạng Thái
                            th Chỉnh Sửa
                    tbody
                        each item, index in accounts
                            tr
                                td #{index+1}
                                td #{item.fullName}
                                td #{item.email}
                                td #{item.role.title}
                                td
                                    if item.status == "active"
                                        a(
                                            // khônglinksangtrangkhác
                                            href= "javascript:;" 
                                            data-status = item.status
                                            data-id = item.id
                                            button-change-status
                                            class="badge bg-success text-white status-badge"
                                            style="text-decoration: none;" 
                                            )  Hoạt Động

                                    else
                                        a(
                                            href= "javascript:;"
                                            data-status = item.status
                                            data-id = item.id
                                            button-change-status
                                            class="badge bg-warning text-dark status-badge"
                                            style="text-decoration: none;" 
                                        )   Dừng Hoạt Động
                                
                                td 
                                     .d-flex
                                        a(
                                            href = `${prefixAdmin}/roles/detail/${item.id}`
                                            type="button"
                                            class="btn btn-secondary btn-sm me-2"
                                        ) Chi Tiết
                                        a(
                                            href = `${prefixAdmin}/roles/edit/${item.id}`
                                            type="button"
                                            class="btn btn-warning btn-sm me-2"
                                        ) Sửa
                                        button(
                                            type="button"
                                            class="btn btn-danger btn-sm"
                                            button-delete
                                            data-id=item.id
                                        ) Xóa

                        

    // product
    script(src = '/admin/js/account.js')