extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block header
    link(rel="stylesheet" href="../../../admin/css/category.css")

block main
    .main-content
        if (role.permission.includes("products-category_create"))
            +alert-error(3000)
            // Card cho phần form
            .card.mb-5(style="--bs-card-spacer-y: 2rem; --bs-card-spacer-x: 2rem;")
                .card-header(style="display: flex; align-items: center; justify-content: center;")
                    span.card-title Thêm Mới Danh Mục Sản Phẩm
                .card-body
                    form(
                        action=`${prefixAdmin}/products-category/create`
                        method="POST"
                        enctype="multipart/form-data"
                        class="form-create-product"
                    )
                        div(class="form-group mb-3")
                            label(for="title" class="fw-bold fs-4 mb-2") Tiêu Đề
                            input(
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                required
                            )


                        div(class="form-group mb-3")
                            label(for="title" class="fw-bold fs-4  mb-2") Danh mục cha
                            select(
                                name="parent_id"
                                id="parent_id"
                                class="form-control"
                            )
                                option(value="") -- Danh mục cha --
                                if (records)
                                    +select-tree(records)

                        div(class="form-group mb-3")
                            label(for="desc" class="fw-bold fs-4  mb-2") Mô tả
                            textarea(
                                class="form-control textarea-mce"
                                id="desc"
                                name="description"
                                rows="5"
                            )


                        div(
                            class="form-group mb-3" 
                            upload-image
                        )
                            label(for="thumbnail" class="d-block fw-bold fs-4  mb-2") Ảnh
                            input(
                                type="file"
                                class="form-control-file"
                                id="thumbnail"
                                name="thumbnail"
                                accept="image/*"
                                upload-image-input
                            )
                            div(style="position: relative; display: inline-block;")
                                button(
                                    type="button"
                                    class="btn btn-danger"
                                    style="position: absolute; top: 0; left: 0; z-index: 1; display: none;"
                                    id="removeButton"
                                )
                                    i(class="fa fa-times") 
                                img(
                                    src=""
                                    upload-image-preview
                                    id="imagePreview"
                                    style="display: block;"
                                )


                        div(class="form-group mb-3")
                            label(for="position" class="fw-bold fs-4  mb-2") Vị trí
                            input(
                                type="number"
                                class="form-control"
                                id="position"
                                name="position"
                                placeholder="Tự động tăng"
                                min="1"
                            )

                        div(class="form-group form-check form-check-inline mb-3")
                            input(
                                type="radio"
                                class="form-check-input"
                                id="statusActive"
                                name="status"
                                value="active"
                                checked
                            )
                            label(for="statusActive" class="form-check-label fw-bold fs-4") Hoạt động

                        div(class="form-group form-check form-check-inline mb-3")
                            input(
                                type="radio"
                                class="form-check-input"
                                id="statusInActive"
                                name="status"
                                value="inactive"
                            )
                            label(for="statusInActive" class="form-check-label fw-bold fs-4") Dừng Hoạt động

                        div(class="form-group mb-3")
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Tạo mới
        else
            h1 Bạn không có quyền truy cập
    // product
    script(src = '/admin/js/category.js')