extends ../../layout/default.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug


block header
    link(rel="stylesheet" href=" ../../../admin/css/category.css")

block main
    .main-content
        include ../../partials/header.pug

        .card.mb-3
            .card-header Danh sách
                .card-body
                    .row
                        .col-8
                        .col-4
                            a(
                                href=`${prefixAdmin}/products-category/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới


        .card.mb-5(style="--bs-card-spacer-y: 3rem; --bs-card-spacer-x: 3rem;")
            .card-header(style=" --bs-card-cap-padding-y: 2rem; display: flex; align-items: center; justify-content: center;")
                span.card-title Danh Mục Sản Phẩm
            .card-body
                +form-change-multi(
                    `${prefixAdmin}/products-category/change-multi?_method=PATCH`, 
                    [
                        { value: 'active', text: 'Hoạt động' },
                        { value: 'inactive', text: 'Dừng hoạt động' },
                        { value: 'delete-all', text: 'Xóa tất cả' },
                        { value: 'change-position', text: 'Thay đổi vị trí' }
                    ],
                    [
                        { href: `${prefixAdmin}/products-category/restore`, class: 'btn btn-outline-secondary', text: 'Phục hồi' },
                        { href: `${prefixAdmin}/products-category/create`, class: 'btn btn-outline-success', text: '+ Thêm mới' }
                    ]
                )

                table(class="table table-hover table-sm align-middle custom-table" checkbox-multi)
                    thead.table-light.custom-thead
                        tr
                            th
                                input(type="checkbox" name="checkall")
                            th STT
                            th Hình Ảnh
                            th Tiêu Đề
                            th Giá
                            th Sắp Xếp
                            th Trạng Thái
                            th Hành Động

                    tbody
                        each item, index in records
                            tr
                                td
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )
                                td #{index + 1}
                                td
                                    img(
                                        src=item.thumbnail, 
                                        alt=`Sản phẩm ${index + 1}`, 
                                        class="img-thumbnail"
                                    )
                                td #{item.title}
                                td #{item.price}$
                                td 
                                    form(
                                        action=`${prefixAdmin}/products/change-multi?_method=PATCH`
                                        method="POST"
                                    )
                                        input(
                                            type="number"
                                            value=item.position
                                            min="1"
                                            name="position"
                                        )
                                td
                                    if item.status == "active"
                                        a(
                                            // khônglinksangtrangkhác
                                            href= "javascript:;" 
                                            data-status = item.status
                                            data-id = item.id
                                            button-change-status
                                            class="badge bg-success text-white status-badge"
                                            style="text-decoration: none;" 
                                        )  Hoạt Động

                                    else
                                        a(
                                            href= "javascript:;"
                                            data-status = item.status
                                            data-id = item.id
                                            button-change-status
                                            class="badge bg-warning text-dark status-badge"
                                            style="text-decoration: none;" 
                                        )   Dừng Hoạt Động

                                td
                                    .d-flex
                                        a(
                                            href = `${prefixAdmin}/products/detail/${item.id}`
                                            type="button"
                                            class="btn btn-secondary btn-sm me-2"
                                        ) Chi Tiết
                                        a(
                                            href = `${prefixAdmin}/products/edit/${item.id}`
                                            type="button"
                                            class="btn btn-warning btn-sm me-2"
                                        ) Sửa
                                        button(
                                            type="button"
                                            class="btn btn-danger btn-sm"
                                            button-delete
                                            data-id=item.id
                                        ) Xóa

        +pagination(pagination)

    // product
    script(src = '/admin/js/category.js')