mixin form-change-multi(path, options = [], links = [])
    form(
        action= path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-center.mb-3
            .form-group.mr-2
                select(name="type" class="form-control" style="height: 38px; width: 310px")
                    option(disabled selected) Chọn hành động
                    if options.length
                        each option in options
                            option(value=option.value) #{option.text}
            .form-group.mr-2
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control"
                    placeholder="Nhập ID sản phẩm"
                    style="height: 38px; width: 320px"
                )
            button(
                type="submit" 
                class="btn btn-outline-primary" 
            ) Áp dụng

            if links.length
                each link in links
                    a(
                        href=link.href
                        type=link.type || 'button'
                        class=link.class
                    ) #{link.text}
