mixin select-tree(items, level = 0, parentId = "")
    - const symbols = ['➤', '➥', '➟', '➠']; 
    each item in items
        - const prefix = `${Array(level * 2).fill('&nbsp;').join('')}${symbols[Math.min(level, symbols.length - 1)]}`;
        option(
            value=item.id
            selected=item.id == parentId
        )!= `${prefix} ${item.title}`

        if item.children && item.children.length > 0
            +select-tree(item.children, level + 1, parentId)
