extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-grid.pug
include ../../../admin/mixins/alert.pug

block main
  .chat-container

    .container.my-5
      .row
        .col-12
            +box-head("Tin nhắn", "mt-3", "mb-3")

      .row
        .col-12 
          .chat(my-id=user.id)
            .inner-body 
              each chat in chats
                div(class=(chat.info.id == user.id ? "inner-outgoing" : "inner-incoming"))
                  if (chat.info.id != user.id)
                    .inner-name #{chat.info.fullName} 
                  if (chat.content)
                    .inner-content
                      | #{chat.content}
                  if (chat.images)
                    .inner-images
                      each image in chat.images               
                        img(src=image)

              div(class="inner-list-typing")
            
            .inner-preview-images
              div(class="custom-file-container" data-upload-id="upload-image")

            .inner-foot 
              form(
                  class="inner-form"
                  action="#"
              )
                input(
                    type="text"
                    placeholder="Nhập nội dung ..."
                    name="content"
                )
                
                label(
                  for="file-upload-with-preview-upload-image"
                  class="btn btn-light mx-2 mb-0"
                )
                   i.fa-regular.fa-image(style="font-size: 24px;")
                span(class="button-icon btn btn-light mx-2")
                  i.fa-regular.fa-face-smile(style="font-size: 24px;")
                button
                  i.fa-solid.fa-paper-plane

  div(class="tooltip" role="tooltip")
    emoji-picker(class="light")