extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-grid.pug
include ../../../admin/mixins/alert.pug

block main
  .chat-container

    .container.my-5
      .row
        .col-12
            +box-head("Tin nhắn", "mt-3", "mb-3")

      .row
        .col-12 
          .chat(my-id=user.id)
            .inner-body 
              each chat in chats
                div(class=(chat.info.id == user.id ? "inner-outgoing" : "inner-incoming"))
                  if (chat.info.id != user.id)
                    .inner-name #{chat.info.fullName} 
                  .inner-content
                    | #{chat.content}

             

            .inner-foot 
              form(
                  class="inner-form"
                  action="#"
              )
                input(
                    type="text"
                    placeholder="Nhập nội dung ..."
                    name="content"
                )
                button
                  i.fa-solid.fa-paper-plane
