extends ../../layout/default.pug
include ../../mixins/alert.pug

block header
  link(rel="stylesheet", href="../../../admin/css/product-create.css")

block main
  .main-content
    +alert-success(3000)
    +alert-error(3000)

    // Card cho phần form
    .card.mb-5(style="--bs-card-spacer-y: 2rem; --bs-card-spacer-x: 2rem;")
      .card-header(style="display: flex; align-items: center; justify-content: center;")
        span.card-title Sửa Chi Tiết Sản Phẩm
      .card-body
        form(
          class="form-create-product"
          action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
          id="form-create-product"
          method="POST"
          enctype="multipart/form-data"
        )
          div(class="form-group")
            label(for="title") Tiêu Đề
            input(
              type="text"
              class="form-control"
              id="title"
              name="title"
              value = product.title
              required
            )
  
          div(class="form-group")
            label(for="desc") Mô tả
            textarea(
              class="form-control"
              id="desc"
              name="description"
              rows="5"
            ) #{product.description}
  
          div(class="form-group")
            label(for="price") Giá
            input(
              type="number"
              class="form-control"
              id="price"
              name="price"
              value=product.price
              min="0"
            )
  
          div(class="form-group")
            label(for="discount") % Giảm giá
            input(
              type="number"
              class="form-control"
              id="discount"
              name="discountPercentage"
              value=product.discountPercentage
              min="0"
            )
  
          div(class="form-group")
            label(for="stock") Số lượng
            input(
              type="number"
              class="form-control"
              id="stock"
              name="stock"
              value=product.stock
              min="0"
            )
  
          div(
            class="form-group" 
            upload-image
          )
            label(for="thumbnail") Ảnh
            input(
              type="file"
              class="form-control-file"
              id="thumbnail"
              name="thumbnail"
              accept="image/*"
              upload-image-input
            )
            div(style="position: relative; display: inline-block;")
              button(
                type="button"
                class="btn btn-danger"
                style="position: absolute; top: 0; left: 0; z-index: 1; display: none;"
                id="removeButton"
              )
                i(class="fa fa-times") 
              img(
                src= product.thumbnail
                upload-image-preview
                id="imagePreview"
                style="display: block;"
              )

  
          div(class="form-group")
            label(for="position") Vị trí
            input(
              type="number"
              class="form-control"
              id="position"
              name="position"
              placeholder="Tự động tăng"
              min="1"
              value=product.position
            )
  
          div(class="form-group form-check form-check-inline")
            input(
              type="radio"
              class="form-check-input"
              id="statusActive"
              name="status"
              value="active"
              checked=(product.status=="active"?true:false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động
  
          div(class="form-group form-check form-check-inline")
            input(
              type="radio"
              class="form-check-input"
              id="statusInActive"
              name="status"
              value="inactive"
              checked=(product.status=="inactive"?true:false)
            )
            label(for="statusInActive" class="form-check-label") Dừng Hoạt động
  
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary"
            ) Cập Nhật

  // product
  script(src = '/admin/js/product-create.js')
  script(src = '/admin/js/product.js')