extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/table-product.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/table_item.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/time.pug

block header
    link(rel="stylesheet", href=" ../../../admin/css/product.css")

block main
    .main-content
        if (role.permission.includes("products_view"))
            include ../../partials/header.pug
            main
                +alert-success(5000)

                h1 Trang Sản Phẩm <br><br>

                .card.mb-5
                    .card-header(style="--bs-card-cap-padding-y: 1rem; display: flex; align-items: center; justify-content: center;")
                        span.card-title Bộ lọc và Tìm Kiếm
                    .card-body.d-flex.align-items-center
                        .d-flex.flex-wrap
                        +filter-status(filterStatus)
                        +search(keyword)
            
                .card.mb-5
                    .card-header(style="--bs-card-cap-padding-y: 1rem; display: flex; align-items: center; justify-content: center;")
                        span.card-title Sắp Xếp
                    .card-body
                        .row
                            .col-4
                                +sort()


                .card.mb-5(style="--bs-card-spacer-y: 3rem; --bs-card-spacer-x: 3rem;")
                    .card-header(style=" --bs-card-cap-padding-y: 2rem; display: flex; align-items: center; justify-content: center;")
                        span.card-title Danh Sách Sản Phẩm
                    .card-body
                        if (role.permission.includes("products_edit"))
                            +form-change-multi(
                                `${prefixAdmin}/products/change-multi?_method=PATCH`, 
                                [
                                    { value: 'active', text: 'Hoạt động' },
                                    { value: 'inactive', text: 'Dừng hoạt động' },
                                    { value: 'delete-all', text: 'Xóa tất cả' },
                                    { value: 'change-position', text: 'Thay đổi vị trí' }
                                ],
                                [
                                    { href: `${prefixAdmin}/products/restore`, class: 'btn btn-outline-secondary', text: 'Phục hồi' },
                                    { href: `${prefixAdmin}/products/create`, class: 'btn btn-outline-success', text: '+ Thêm mới' }
                                ]
                            )



                        table(class="table table-hover table-sm align-middle custom-table" checkbox-multi)
                            thead.table-light.custom-thead
                                tr
                                    th
                                        input(type="checkbox" name="checkall")
                                    th STT
                                    th Hình Ảnh
                                    th Tiêu Đề
                                    th Giá
                                    th Người Tạo
                                    th Người Sửa
                                    th Sắp Xếp
                                    th Trạng Thái
                                    th Hành Động
                            
                            tbody
                                each item, index in products
                                    tr
                                        td
                                            input(
                                                type="checkbox"
                                                name="id"
                                                value=item.id
                                            )
                                        td #{pagination.limitPage * (pagination.currentPage - 1) + (index+1)}
                                        td
                                            img(
                                                src=item.thumbnail, 
                                                alt=`Sản phẩm ${index + 1}`, 
                                                class="img-thumbnail"
                                            )
                                        td #{item.title}
                                        td #{item.price}$
                                        td 
                                            p #{item.fullName} 
                                            if (item.createdBy.createAt)
                                                p
                                                    +formatDayTime(item.createdBy.createAt)
                                                    br
                                                    +formatHourTime(item.createdBy.createAt)
                                        td 
                                            -  const updatedBy = item.updatedBy.slice(-1)[0];
                                            if (updatedBy)
                                                p #{updatedBy.Name}
                                                p
                                                    +formatDayTime(item.updatedBy.updateAt)
                                                    br
                                                    +formatHourTime(item.updatedBy.updateAt)

                                        td 
                                            form(
                                                action=`${prefixAdmin}/products/change-multi?_method=PATCH`
                                                method="POST"
                                            )
                                                input(
                                                    type="number"
                                                    value=item.position
                                                    min="1"
                                                    name="position"
                                                    style="width: 60px"
                                                )
                                        td
                                            if (role.permission.includes("products_edit"))
                                                if item.status == "active"
                                                    a(
                                                        // khônglinksangtrangkhác
                                                        href= "javascript:;" 
                                                        data-status = item.status
                                                        data-id = item.id
                                                        button-change-status
                                                        class="badge bg-success text-white status-badge"
                                                        style="text-decoration: none;" 
                                                    )  Hoạt Động

                                                else
                                                    a(
                                                        href= "javascript:;"
                                                        data-status = item.status
                                                        data-id = item.id
                                                        button-change-status
                                                        class="badge bg-warning text-dark status-badge"
                                                        style="text-decoration: none;" 
                                                    )   Dừng Hoạt Động
                                            else
                                                if item.status == "active"
                                                    span(
                                                        class="badge bg-success text-white status-badge"
                                                    )  Hoạt Động
                                                else
                                                    span(
                                                        class="badge bg-warning text-dark status-badge"
                                                    ) Dừng Hoạt Động

                                        td
                                            .d-flex
                                                a(
                                                    href = `${prefixAdmin}/products/detail/${item.id}`
                                                    type="button"
                                                    class="btn btn-secondary btn-sm me-2"
                                                ) Chi Tiết
                                                if (role.permission.includes("products_edit"))
                                                    a(
                                                        href = `${prefixAdmin}/products/edit/${item.id}`
                                                        type="button"
                                                        class="btn btn-warning btn-sm me-2"
                                                    ) Sửa
                                                if (role.permission.includes("products_delete"))
                                                    button(
                                                        type="button"
                                                        class="btn btn-danger btn-sm"
                                                        button-delete
                                                        data-id=item.id
                                                    ) Xóa

                +pagination(pagination)

                form(
                    action=""
                    method="POST"
                    id="form-change-status"
                    data-path=`${prefixAdmin}/products/change-status`
                )
                
                form(
                    action=""
                    method="POST"
                    id="form-delete-item"
                    data-path=`${prefixAdmin}/products/delete`
                )

    // product
    script(src = '/admin/js/product.js')