extends ../../layout/default.pug

block main
    .main-content
        include ../../partials/header.pug
        main 
            section
                h3(class = "section-head") Overview
                .analytics 
                    .analytic
                        .analytic-icon
                            span.las.la-eye
                        .analytic-info
                            h4 Total views 
                            h1 10.3M
                    .analytic
                        .analytic-icon
                            span.las.la-clock
                        .analytic-info
                            h4 Watch Time
                            h1 
                                | 20.9K 
                                small.text-success 5%
                    .analytic
                        .analytic-icon
                            span.las.la-users
                        .analytic-info
                            h4 Subscribers
                            h1 
                                | 1.3K 
                                small.text-success 12%
                    .analytic
                        .analytic-icon
                            span.las.la-heart
                        .analytic-info
                            h4 Total Likes
                            h1 
                                | 3.4M 
                                small.text-danger 12%
            section 
                .block-grid 
                    .revenue-card 
                        h3(class = "section-head") Total Revenue
                        .rev-content
                            img.avatar(src="/admin/images/user_admin.jpg", alt="Avatar")
                            .rev-info 
                                if (user.fullName)
                                    h3 #{user.fullName}
                                if (user.email)
                                    h1 
                                        | Email
                                        small  #{user.email}
                            .rev-sum
                                if (user.phone)
                                    h4 Phone: #{user.phone} 
                                if (role.title)
                                    h4 #{role.title}
                    .graph-card
                        h3(class = "section-head") Graph
                        .graph-content 
                            .graph-head
                                .icons-wrapper
                                    .icon
                                        span.las.la-eye.text-main
                                    .icon
                                        span.las.la-clock.text-success
                                .graph-select
                                    select(name="" id="")
                                        option(value="") September 
                            .graph-board
                                canvas(id="revenueChart" width="100%" height="46px")
            .wrapper-dashboard
                .row.mt-3
                    .col-md-6
                        .card.mb-4
                            .card-header Danh mục sản phẩm
                            .card-body
                                p Số lượng: <b>#{statistic.categoryProducts.total}</b>
                                p Hoạt động: <b>#{statistic.categoryProducts.active}</b>
                                p Dừng hoạt động: <b>#{statistic.categoryProducts.inactive}</b>
                    .col-md-6
                        .card.mb-4
                            .card-header Sản Phẩm
                            .card-body
                                p Số lượng: <b>#{statistic.product.total}</b>
                                p Hoạt động: <b>#{statistic.product.active}</b>
                                p Dừng hoạt động: <b>#{statistic.product.inactive}</b>
                .row
                    .col-md-6
                        .card.mb-4
                            .card-header Tài khoản Admin
                            .card-body
                                p Số lượng: <b>#{statistic.account.total}</b>
                                p Hoạt động: <b>#{statistic.account.active}</b>
                                p Dừng hoạt động: <b>#{statistic.account.inactive}</b>
                    .col-md-6
                        .card.mb-4
                            .card-header Tài khoản User
                            .card-body
                                p Số lượng: <b>#{statistic.user.total}</b>
                                p Hoạt động: <b>#{statistic.user.active}</b>
                                p Dừng hoạt động: <b>#{statistic.user.inactive}</b>

                                         
    // dashboard
    script(src = '../admin/js/dashboard.js')
    // chart
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js")