extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block header
  link(rel="stylesheet", href="/css/product-detail.css")

block main
  .product-detail
    section
    .container.flex
      .left
        .main_image
          img.slide(src=product.images[0] alt=product.title)
        .option.flex
          if product.images && product.images.length > 0
            each image in product.images
              img(src=image alt="Option Image" onclick=`img('${image}')`)
      .right
        h3= product.title

        if (product.category)
          div(class="inner-category")
            span Danh mục: 
            a(href=`/products/${product.category.slug}`) #{product.category.title}

        h4
          if product.price
            | #{product.price}$

        h5
          small $
          if product.priceNew
            | #{product.priceNew}

        h6 Color Options
        .color.flex1
          span(style="background: #000;")
          span(style="background: #EDEDED;")
          span(style="background: #D5D6D8;")
          span(style="background: #EFE0DE;")
          span(style="background: #AB8ED1;")
          span(style="background: #F04D44;")
        if product.Quantity
          h6 
            small Quantity: 
            | #{product.stock}
        if product.discountPercentage
          h6 
            small Discount: 
            | #{product.discountPercentage}%
        if product.rating
          h6
            small Rating: 
            | #{product.rating} / 5
        if product.status
          h6
            small Status: 
            if product.status === "active"
              span(class="badge badge-success") Hoạt Động
            else
              span(class="badge badge-danger") Dừng Hoạt Động
        if product.updateAt
          h6
            small Updated At: 
            | #{new Date(product.updatedAt).toLocaleString()}
        if product.brand
          h6
            small Brand: 
            | #{product.brand}
        if product.stock
          div(class="inner-stock") 
          h6
            |Còn lại <span>#{product.stock}</span> Sản phẩm

        form(
          action=`/cart/add/${product._id.toString()}`
          method="POST"
        )
          input(
            class="form-control"
            type="number"
            name="quantity"
            value="1"
            min="1"
            max=product.stock 
          )
          button(
            type="submit"
            class="btn btn-success btn-block"
          ) Thêm vào giỏ hàng


  .product-detail
    section
      .container.flex
        .center
          +box-head("Mô Tả Sản Phẩm")
          if product.description
            | !{product.description}

    script.
      function img(anything) {
        document.querySelector('.slide').src = anything;
      }
