header
   .header-title-wrapper
      label(for="menu-toggle")
         span.las.la-bars
      .header-title
         h1 Analytics
         p Display analytics about your Channel 
            span.las.la-chart-line
   .header-action 
      a(
         href=`${prefixAdmin}/my-account`
         class="btn btn-primary"
         style="margin-right: 1rem"
      ) #{user.fullName}
      a(
         href=`${prefixAdmin}/auth/logout`
         class="btn btn-danger"
      ) Đăng Xuất