input(type="checkbox" name = "" id="menu-toggle")
.sidebar
    .sidebar-container
        .brand
            h2
                img.logo(src="/admin/images/logo.jpg", alt="logo")
                span Happy Code
        .sidebar-avatar
            img.avatar(src="/admin/images/user_admin.jpg", alt="Avatar")
            .avatar-info
                .avatar-text
                    h4 Xuan Le
                    small 0399984586
                span.las.la-angle-double-down
        
        nav.sidebar-menu
            ul
                li
                     a(href = `${prefixAdmin}/dashboard`) 
                        span.las.la-adjust
                        span Tổng Quan 
                li
                     a(href = `${prefixAdmin}/products-category`) 
                        span.fa-solid.fa-layer-group
                        span Danh Mục Sản Phẩm
                li
                     a(href = `${prefixAdmin}/Anlytics`) 
                        span.las.la-chart-bar
                        span Phân Tích
                li
                     a(href = `${prefixAdmin}/Schedule`) 
                        span.las.la-calendar
                        span Lịch Trình
                li
                     a(href = `${prefixAdmin}/roles`) 
                        span.las.la-user
                        span Phân Quyền
                li
                     a(href = `${prefixAdmin}/products`) 
                        span.las.la-archive
                        span Sản Phẩm
        .sidebar-card
            img.img_footer(src="/admin/images/img_footer.png", alt="Avatar")
            div
                h4 Make AdSense
                p Add ads to your videos to earn money
            button(class= "btn btn-main btn-block") Create now

    // product
    script(src = '/admin/js/dashboard.js')