input(type="checkbox" name = "" id="menu-toggle")
.sidebar
    .sidebar-container
        .brand
            h2
                img.logo(src="/admin/images/logo.jpg", alt="logo")
                span Happy Code
        .sidebar-avatar
            img.avatar(src=`${user.avatar}`, alt="Avatar")
            .avatar-info
                .avatar-text
                    h4 #{user.fullName}
                    small  #{user.phone}
                span.las.la-angle-double-down
        
        nav.sidebar-menu
            ul
                li
                    a(href = `${prefixAdmin}/dashboard`) 
                        span.las.la-adjust
                        span Tổng Quan 
                if (role.permission.includes("products-category_view"))
                    li
                        a(href = `${prefixAdmin}/products-category`) 
                            span.fa-solid.fa-layer-group
                            span Danh Mục Sản Phẩm
                if (role.permission.includes("products-category_view"))
                    li
                        a(href = `${prefixAdmin}/Anlytics`) 
                            span.las.la-chart-bar
                            span Phân Tích
                if (role.permission.includes("accounts_view"))
                    li
                        a(href = `${prefixAdmin}/accounts`) 
                            span.las.la-user
                            span Tài Khoản
                if (role.permission.includes("roles_view"))
                    li
                        a(href = `${prefixAdmin}/roles`) 
                            span.las.la-address-card
                            span Phân Quyền
                if (role.permission.includes("products_view"))
                    li
                        a(href = `${prefixAdmin}/products`) 
                            span.las.la-archive
                            span Sản Phẩm
        .sidebar-card
            img.img_footer(src="/admin/images/img_footer.png", alt="Avatar")
            div
                h4 Make AdSense
                p Add ads to your videos to earn money
            button(class= "btn btn-main btn-block") Create now

    // product
    script(src = '/admin/js/dashboard.js')